body
{
	color: #000000;
}

.mandatory
{
	color: #ff0000;
}

.table
{
	display: table;
}

.tbody
{
	display: table-row-group;
}

.tr
{
	display: table-row;
}

.td
{
	display: table-cell;
}

.th
{
	font-weight: bold;
	display: table-cell;
}

.invalid
{
	border-style: solid;
	border-color: #ff0000;
}
